
//
body{
  // background: linear-gradient(to bottom, #be89be, #8f94fb);
  height: 100%;
  width:100vh;
  margin:0;
  padding: 0;
}
.Notes {
  // background-color: azure;
width: 100%;
height: 100%;
align-items: center;
  display: flex;
  grid-template-columns: 300px 300px 300px;
  //this added
  // flex-direction: row;
  // 
  // flex-wrap: wrap;
  justify-content: space-between;
}
.items{
  width: 300p;;
  // background-color: aquamarine;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  // width: 20%;
}
.notescomp{
  display: flex;
  justify-content: space-between;
  // grid-template-columns: 350px 350px 350px;
  gap: 200px;
  // grid-template-rows: 400px 400px 400px 400px;

}
.note-btn{
  margin-right: 20px;
  margin-bottom: 20px;
  width: 12rem;
  height: 3rem;
  background-color: #831a7a;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 20px;
  color: white;
  padding-left: 5px;
}

.text, .note-container, .textare-container{
  width: 100%;
  height: 100%;
  // background:teal;
}


// .textarea-container {
//   // height: 80px;
//   position: relative;
//   // width: 50px;
// }

.hanlde-btn{
  width: 200px;
  height: 50px;
  align-items: center;
  background-color: blue;
}
h4{
  font-size:x-large;
  color:#831a7a; 
  align-items: center;
  justify-content: center;
  display: flex;
}
.note-icon{
  width: 80px;
  height: 40px;
}
.pen-icon{
  margin-left: 0px;
  margin-right: 15px;
}
.btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.handle-btn{
  width: 50px;
  display: flex;
  // justify-content: left;
}
// .text{
//   background-color:rgb(255, 252, 248);
//   // width: 100%;
//   // width: 80%;
// }
.mini-container{
  background-color: #831a7a;
  width: 100%;
  
}
.textarea {
  width: 86%;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 5px;
  background-color:rgb(216, 202, 211);
  border-style: none;
  outline: none;
  padding:20px 20px;
  align-items: center;
  font-size: 30px;
}
// .note-container{
//   // background-color: black;
//   // width: 90%;
//   align-items: center;
//   justify-content: center;
// }
.saved-notes {
  width: 300px;
  background-color: rgb(187, 143, 185);
  padding: 20px;
  border-radius: 15px;
 
  
  
}
.saved-articled{
  gap: 10px;
}
.saved-items{
  height: 50px;
  justify-content: space-between;
  display: flex;
  background-color: rgb(233, 146, 221);
  border-radius: 5px;
  border-color: blue;
  // gap: 10px;
  padding: 10px 10px;
}
// .resume {
//   transform: translateX(0); // Move to the right side
// }

.edit-btn{
  width: 50px;
  height: 25px;
  background-color: #cfaacc;
  // margin-left: 200px;
}
.saved-container{
  // background-color: #e0b0dc;
}
.search{
  border-radius: 50px;
  width: 90%;
  margin-bottom: 20px;
  padding: 5px 5px;
}